body{
    font-size: 1.0em;
    font-family: 'Yantramanav',Arial, Helvetica, sans-serif ;
}
.pos-relative{
    position: relative;
    background-color: lightskyblue;
}
.fa, .fas, .far, .infos h3, .first-name {
    color: lightskyblue;
}
.loisirs-bottom{
    width: 100%;
    bottom: 10px;
}
h3, .mini-border{
    border-bottom: lightskyblue solid 0.1em;
}
h1{
    font-size: 4.0em;
}
.first-name {
    font-family: 'Acme',Arial, Helvetica, sans-serif ;
    font-weight: bold;
}
.cv-list{
    display: flex;
    justify-content: flex-start;
}
.cv-list i {
    margin-right: 1rem;
}
.mini-border{
    width: 60px;
    margin-top: -7px;
    position: absolute;
    left: 30px;
}
.infos h2{
    font-size: 1.8em;
}
.infos li{
    margin-top: 0.8em;
}
.entreprise, .formation{
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Trebuchet MS';
}
.fa{
    font-size: 0.6em;
}
.fa-phone, .fa-envelope-open, .fa-skype, .fa-address-card{
 color: black;
}
.fa-gamepad, .fa-tv, .fa-glass-cheers {
    color: black;
    border: 2px solid black;
    padding: 12px;
    border-radius: 50%;
}

@media (min-width: 576px) {
    .loisirs-bottom{
        position: static;
    }
}
@media (min-width: 768px) {
    .loisirs-bottom{
        position: absolute;
    }
}
@media (max-width: 576px){
    .cv-list{
        display: block;
    }
}
@media (max-width: 760px) {
    .title{
        background-color: lightskyblue;
    }
    .mini-border{
        border-bottom: white solid 0.1em;
    }
    .first-name{
        color: white;
    }
}